.out {
	width: 450px;
	height: 450px;
	float: left;
	border: 5px solid #000;
	margin: 50px;
	background-color: white;

}
p 	{

	padding: 100px 30px;
	
	font-family: sans-serif;
	font-weight: bold;
	font-size: 30px;

}
